/* ESTILOS PARA EL FORMULARIO */
.content__agendar {
	width: 100%;
	height: 90vh;
	background-image: url(../img/target_1.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}

.content__agendar::before {
	content: "";
	position: absolute;
	background-color: var(--color-primario);
	width: 30%;
	height: 100%;
	top: 0;
	right: 0;
	opacity: 0.9;
}
.content__agendar::after {
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 70%;
	height: 100%;
	top: 0;
	left: 0;
}
.box__form {
	width: 450px;
	height: auto;
	position: relative;
	left: 70%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 10px 30px black;
	padding: 30px;
	overflow: hidden;
	clear: both;
	z-index: 100;
}
.form__title {
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 25px;
	color: var(--color-primario);
	font-family: var(--font-title);
}
.input__box {
	margin: 20px 0 30px;
	position: relative;
	font-family: var(--font-text);
}
.form__input,
select {
	width: 100%;
	padding: 10px 0;
	padding-left: 30.5px;
	font-size: 17px;
	outline: none;
	border: none;
	border-bottom: 2.3px solid #7f8c8d;
	font-weight: 500;
}
.form__input:focus,
.form__input:valid,
.width50:valid {
	color: var(--color-primario);
	border-bottom: 2.8px solid var(--color-primario);
}
.width50 .form__input {
	padding-left: 0;
}
.icon__left {
	position: absolute;
	top: 10px;
	left: 8px;
	color: gray;
	font-size: 17px;
}
.icon__right {
	position: absolute;
	top: 12px;
	right: 34%;
	top: 30%;
	color: white;
	font-size: 17px;
}
.input--select {
	padding-left: 2px;
}
.input--radio {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: var(--font-text);
}
.input--radio label:hover {
	color: var(--color-primario);
	cursor: pointer;
}
.form__input[type="submit"] {
	padding-left: 0;
	text-align: center;
	background-color: var(--color-primario);
	color: white;
	font-family: var(--font-title);
	font-weight: bold;
	border-radius: 10px;
	border: none;
	transition: 0.5 ease all;
	margin-bottom: 0;
}
.form__input[type="submit"]:hover {
	cursor: pointer;
	background-color: #ff0000ca;
}
