:root {
	--font-text: spartan;
	--font-title: cambay;
}

.content__agendar {
	width: 100%;
	height: 90vh;
	/* background: green; */
	overflow: hidden;
	clear: both;
}
/* ESTILOS PARA EL FORMULARIO */
.content__agendar__form {
	width: 40%;
	margin-right: 50px;
	height: 100%;
	/* background: green; */
	float: right;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content__agendar__form__title {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-radius: 20px;
	font-size: 25px;
	text-transform: capitalize;
	color: white;
	background: red;
	text-align: center;
	font-family: var(--font-title);
	margin-bottom: 25px;
}
.content__agendar__form__label,
.content__agendar__form__input {
	display: block;
	width: 90%;
	margin: 0 auto;
}
.content__agendar__form__label {
	font-family: var(--font-text);
	font-weight: 500;
	font-size: 17px;
	margin: 0;
	color: red;
}
.content__agendar__form__input {
	transition: 0.4s ease all;
	padding: 12px 0px;
	color: red;
	background: rgba(236, 240, 241, 0.5);
	margin-bottom: 25px;
	border: none;
	border-bottom: 3px solid red;
	outline: none;
}
.content__agendar__form__input:hover {
	background: rgba(236, 240, 241, 1);
}
#select {
	margin-top: 10px;
}
.contain__radio {
	width: 90%;

	margin-bottom: 18px;
}
.contain__radio__title {
	width: 100%;
	font-size: 20px;
	font-family: var(--font-title);
	color: red;
	margin-bottom: 10px;
}
.contain__radio__label {
	margin-right: 20px;
	color: red;
	font-size: 17px;
	font-family: var(--font-text);
}
.contain__radio__label:autofocus + .contain__radio__input {
	background-color: red;
}
.content__button {
	width: 100%;
	height: 50px;
	border-radius: 50px;
	position: relative;
	text-align: center;
	font-family: var(--font-title);
}
.content__button__input:hover {
	background-color: rgba(231, 76, 60, 1);
	cursor: pointer;
}
.content__button__input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	border-radius: 50px;
	background-color: red;
	color: white;
	font-size: 18px;
	transition: 0.3s;
}
.content__button__icon {
	position: absolute;
	right: 39%;
	top: 30%;
	vertical-align: top;
	font-size: 18px;
	color: white;
	font-weight: 100;
}
/* ESTILOS PARA EL MAPA */
.content__agendar__location {
	width: 50%;
	height: 100%;
	float: left;
}
.content__agendar__location__map {
	width: 100%;
	height: 100%;
}
