:root {
	--font-text: spartan;
	--font-title: cambay;
}

/* ESTILOS DEL ACERCA DE  */
.content__testimonios {
	width: 100%;
	height: 80vh;
	background: green;
}

/* -------------ESTILOS DEL FOOTER------------- */
.content__finish {
	width: 100%;
	height: 10vh;
	overflow: hidden;
	clear: both;
	background: black;
}
/* ESTILOS DE LA INFORMACION */
.content__finish__info {
	width: 70%;
	height: 100%;
	float: left;
	padding: 10px 20px;
	color: white;
}
.content__finish__info__title {
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	font-family: var(--font-title);
}
.content__finish__info__text {
	width: 100%;
	font-family: var(--font-text);
	font-size: 14px;
	font-weight: 100;
	font-weight: 200;
	font-style: italic;
}
/* ESTILOS PARA LOS ICONOS DE LAS REDES SOCIALES */
.content__finish__social {
	width: 30%;
	height: 100%;
	float: left;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.button__social {
	text-decoration: none;
	display: inline-block;
	color: white;
	font-size: 23px;
	border-radius: 200px;
	margin: 0;
	padding: 10px 25px;
	transition: 0.5s ease all;
}

.button__icon--blue {
	background-color: blue;
}
.button__icon--blue:hover {
	background: blue;
	color: white;
}
.button__icon--purple {
	background-color: purple;
}
.button__icon--purple:hover {
	background-color: purple;
	color: white;
}
.button__icon--light {
	background-color: aqua;
}
.button__icon--light:hover {
	background-color: aqua;
	color: white;
}
