:root {
	--font-text: spartan;
	--font-title: cambay;
}

/* ESTILOS DEL ACERCA DE  */
.content__testimonios {
	width: 100%;
	height: 80vh;
	background: green;
}
.testimonios__title {
	font-family: var(--font-title);
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	margin-bottom: 15px;
}
.testimonios__text {
	text-align: center;
	font-family: var(--font-text);
	font-weight: 100;
	font-style: italic;
	font-size: 26px;
}
img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}
/* -------------ESTILOS DEL FOOTER------------- */
.content__finish {
	width: 100%;
	height: 10vh;
	overflow: hidden;
	clear: both;
	background: black;
}
/* ESTILOS DE LA INFORMACION */
.content__finish__info {
	width: 70%;
	height: 100%;
	float: left;
	padding: 10px 20px;
	color: white;
}
.content__finish__info__title {
	width: 100%;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
	font-family: var(--font-title);
}
.content__finish__info__text {
	width: 100%;
	font-family: var(--font-text);
	font-size: 14px;
	font-weight: 100;
	font-weight: 200;
	font-style: italic;
}
/* ESTILOS PARA LOS ICONOS DE LAS REDES SOCIALES */
.content__finish__social {
	width: 30%;
	height: 100%;
	float: right;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.button__social {
	text-decoration: none;
	display: inline-block;
	margin: 0;
	transition: 0.5s ease all;
}
.button__icon {
	font-size: 20px;
	transition: 0.5s ease all;
	border-radius: 50%;
	padding: 10px 11px;
	color: white;
	margin-right: 15px;
}
.button__icon--blue {
	background-color: rgba(30, 55, 153, 0.8);
}
.button__icon--blue:hover {
	background-color: rgba(30, 55, 153, 1);
}
.button__icon--purple {
	background-color: rgba(142, 68, 173, 0.8);
}
.button__icon--purple:hover {
	background-color: rgba(142, 68, 173, 1);
}
.button__icon--light {
	background-color: rgba(52, 152, 219, 0.8);
}
.button__icon--light:hover {
	background-color: rgba(52, 152, 219, 1);
}
.button__icon--blue--light {
	background-color: rgba(41, 128, 185, 0.8);
}
.button__icon--blue--light:hover {
	background-color: rgba(41, 128, 185, 1);
}
