:root {
	--font-text: spartan;
	--font-title: cambay;
}

.content__horarios {
	width: 100%;
	height: 90vh;
	overflow: hidden;
	clear: both;
}
/* ESTILOS PARA LA TABLA */
.content__horarios__contain {
	width: 90%;
	height: 100%;
	background-color: yellow;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content__table {
	border-collapse: collapse;
}
.content__table__rows {
	padding: 14px;
}
.content__table__rows__head {
	background-color: red;
	font-weight: bold;
}
/* ESTILOS DEL TITULO */
.content__horarios__head {
	width: 40%;
	height: 100%;
	background: green;
	float: right;
}
.content__horarios__title {
	font-family: var(--font-title);
	font-weight: 800;
	line-height: 600px;
	text-align: center;
	background-color: gray;
	font-size: 100px;
	color: red;
}
/* ESTILOS DE LOS HORARIOS */
.content__horarios__contain {
	background: blue;
	float: right;
	width: 60%;
	height: 100%;
}
